html,body{
	height: 100%;
}
body {
	font: normal normal 16px/28px CrimsonTextWeb, Georgia, serif;
	margin: 0;
	color: #555;
	background-color: #FFF;
	margin-left: 16%;
	width: 68%;
}

p{
    padding-top:8px;
}

a{
	color: #006699;
	text-decoration: none;
}

h1 {
	font-size: 30px;	
	margin-top: 5%;
	color: #000011;
}

h2 {
	color: #000111;
}

h3 {
	color: #001111;
}

h4{
	color: #011111;
}

h5 {
	color: #111111;
}

pre{
	background-color: #EFEFFF;
	padding-left: 10px;
	color: #111111;
	font-size: 15px;
}
.nav_list {
	font-size: 18px;

}

.description {

	font-size: 18px;
	margin-top: 2%;
	
}

.footer{
	margin-top: 40px;
	height: 60px;
	border-top: 1px solid #A79879;
	padding-top: 20px;
	
}

